# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Logs
logs
*.log

# Coverage
coverage

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Documentation
README.md